body {
  background: #e5e5e5;
}
.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 740px;
}

.logo {
  position: relative;
  border-radius: 0px;
  height: 48px;
  width: 32px;
  left: -20px;
  top: 30px;
}

.texto {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  background: #e5e5e5;
  width: 220px;
  height: 200px;
  color: #0a3871;
  left: 20px;
  top: 80px;
  border: 0;
  resize: none;
  outline: none;
}

.texto::placeholder {
  color: #0a3871;
}

.alerta {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #495057;
  width: 205px;
  height: 18px;
  top: 120px;
  left: 25px;
  margin-bottom: 0;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  gap: 8px;
  width: 270px;
  margin: 120px 20px;
}

.button-encriptar {
  font-family: 'Roboto', sans-serif;
  background: #0a3871;
  border-radius: 18px;
  color: aliceblue;
  width: 300px;
  height: 50px;
  border: none;
}

.button-encriptar:hover {
  background: #062953;
}

.button-desencriptar {
  font-family: 'Roboto', sans-serif;
  background: aliceblue;
  color: #0a3871;
  border-radius: 18px;
  border: solid 1px #0a3871;
  width: 300px;
  height: 50px;
}

.button-desencriptar:hover {
  background: #e5e5e5;
}

.mensaje {
  position: absolute;
  padding-top: 50px;
  top: 500px;
  left: 30px;
}

.texto-encriptado {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border: 0;
  color: #0a3871;
  padding: 10px;
  width: 280px;
  height: 150px;
  resize: none;
  outline: none;
}

.ningun-msj {
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  line-height: 120%;
  color: #343a40;
  width: 240px;
  left: 32px;
  top: 60px;
  right: 32px;
}

.texto-desencriptar {
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  top: 140px;
  left: 32px;
  right: 32px;
  bottom: 90px;
  width: 230px;
  line-height: 120%;
}

.copiar {
  display: none;
}
.footer {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo {
    top: 80px;
    left: 30px;
  }
  .texto {
    position: relative;
    align-items: center;
    font-size: 2rem;
    font-size: 3rem;
    width: 500px;
    height: 300px;
    top: 200px;
    left: 70px;
  }
  .alerta {
    position: absolute;
    font-size: 1rem;
    width: auto;
    top: 640px;
    left: 50px;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 760px;
    height: auto;
    margin-top: 320px;
    margin-left: 50px;
    gap: 20px;
  }

  .button-encriptar {
    font-size: 1.25rem;
    width: 320px;
    height: 60px;
  }
  .button-desencriptar {
    font-size: 1.25rem;
    width: 320px;
    height: 60px;
  }
  .mensaje {
    padding: 12px;
    width: 600px;
    height: 133px;
    left: 40px;
    top: 760px;
  }
  .texto-encriptado {
    width: 650px;
  }
  .ningun-msj {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    width: 650px;
    height: 29px;
    top: 40px;
  }
  .texto-desencriptar {
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    width: 650px;
    height: 10px;
    top: 80px;
  }
  .copiar {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    top: 50px;
    left: 50px;
  }
  .texto {
    position: absolute;
    font-size: 2rem;
    width: 580px;
    height: 200px;
    left: 120px;
    top: 168px;
  }
  .alerta {
    left: 120px;
    top: 740px;
  }
  .button {
    margin-left: 110px;
    margin-top: 740px;
    gap: 8px;
  }
  .button-encriptar:hover {
    background: #072f5f;
    cursor: pointer;
  }
  .mensaje {
    align-items: flex-end;
    position: absolute;
    width: 300px;
    top: 100px;
    left: 1280px;
  }
  .texto-encriptado {
    background-image: url(/img/Muñeco.png);
    background-repeat: no-repeat;
    background-position: 50px 180px;
    position: absolute;
    width: 400px;
    height: 730px;
    left: 110px;
    top: 0;
    padding: 20px;
  }
  .ningun-msj {
    text-align: center;
    font-size: 24px;
    left: 0;
    top: 500px;
  }
  .texto-desencriptar {
    text-justify: auto;
    top: 550px;
    left: 0;
  }
  .copiar {
    position: relative;
    background: #ffffff;
    color: #0a3871;
    border-radius: 14px;
    border: 1px solid #0a3871;
    width: 300px;
    height: 50px;
    top: 630px;
    left: 180px;
    display: none;
  }
  .footer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.7rem;
    margin-left: 900px;
    margin-top: 190px;
    letter-spacing: 5px;
    color: #858d94;
  }
}
